lstm_01d_2l_256n-Bi_best_weights.01-0.50.hdf5
lstm_01d_2l_256n-Bi_best_weights.02-0.53.hdf5
lstm_01d_2l_256n-Bi_best_weights.03-0.55.hdf5
lstm_01d_2l_256n-Bi_best_weights.04-0.56.hdf5
lstm_01d_2l_256n-Bi_best_weights.05-0.57.hdf5
lstm_01d_2l_256n-Bi_best_weights.06-0.57.hdf5
lstm_01d_2l_256n-Bi_best_weights.07-0.57.hdf5
lstm_01d_2l_256n-Bi_best_weights.08-0.58.hdf5
lstm_01d_2l_256n-Bi_best_weights.10-0.58.hdf5
lstm_01d_2l_256n-Bi_best_weights.11-0.58.hdf5
lstm_01d_2l_256n-Bi_genText.txt
lstm_01d_2l_256n-Bi.log
lstm_01d_2l_256n-Bi_periodic_weights.01-0.50.hdf5
lstm_01d_2l_256n-Bi_periodic_weights.02-0.53.hdf5
Checklist.ods
buildTarantinoModel.py
pdfs
lstm_02d_2l_512n-Bi_best_weights.09-0.59.hdf5
lstm_01d_2l_256n-Bi_periodic_weights.03-0.55.hdf5
lstm_01d_2l_256n-Bi_periodic_weights.04-0.56.hdf5
lstm_01d_2l_256n-Bi_periodic_weights.05-0.57.hdf5
lstm_01d_2l_256n-Bi_periodic_weights.06-0.57.hdf5
lstm_01d_2l_256n-Bi_periodic_weights.07-0.57.hdf5
lstm_01d_2l_256n-Bi_periodic_weights.08-0.58.hdf5
lstm_01d_2l_256n-Bi_periodic_weights.09-0.58.hdf5
lstm_01d_2l_256n-Bi_periodic_weights.10-0.58.hdf5
lstm_01d_2l_256n-Bi_periodic_weights.11-0.58.hdf5
lstm_01d_2l_256n-Bi_traininglog.csv
lstm_02d_1l_128n-Bi_best_weights.01-0.43.hdf5
lstm_02d_1l_128n-Bi_best_weights.02-0.47.hdf5
lstm_02d_1l_128n-Bi_best_weights.03-0.49.hdf5
lstm_02d_1l_128n-Bi_best_weights.04-0.50.hdf5
lstm_02d_1l_128n-Bi_best_weights.05-0.51.hdf5
lstm_02d_1l_128n-Bi_best_weights.06-0.52.hdf5
lstm_02d_1l_128n-Bi_best_weights.07-0.52.hdf5
lstm_02d_1l_128n-Bi_best_weights.08-0.52.hdf5
lstm_02d_1l_128n-Bi_best_weights.09-0.53.hdf5
lstm_02d_1l_128n-Bi_best_weights.10-0.53.hdf5
lstm_02d_1l_128n-Bi_best_weights.11-0.53.hdf5
lstm_02d_1l_128n-Bi_genText.txt
lstm_02d_1l_128n-Bi_periodic_weights.01-0.43.hdf5
lstm_02d_1l_128n-Bi_periodic_weights.02-0.47.hdf5
lstm_02d_1l_128n-Bi_periodic_weights.03-0.49.hdf5
lstm_02d_1l_128n-Bi_periodic_weights.04-0.50.hdf5
lstm_02d_1l_128n-Bi_periodic_weights.05-0.51.hdf5
lstm_02d_1l_128n-Bi_periodic_weights.06-0.52.hdf5
lstm_02d_1l_128n-Bi_periodic_weights.07-0.52.hdf5
lstm_02d_1l_128n-Bi_periodic_weights.08-0.52.hdf5
lstm_02d_1l_128n-Bi_periodic_weights.09-0.53.hdf5
lstm_02d_1l_128n-Bi_periodic_weights.10-0.53.hdf5
lstm_02d_1l_128n-Bi_periodic_weights.11-0.53.hdf5
lstm_02d_1l_128n-Bi_traininglog.csv
lstm_02d_2l_256n-Bi_best_weights.01-0.49.hdf5
lstm_02d_2l_256n-Bi_best_weights.02-0.53.hdf5
lstm_02d_2l_256n-Bi_best_weights.03-0.54.hdf5
lstm_02d_2l_256n-Bi_best_weights.04-0.56.hdf5
lstm_02d_2l_256n-Bi_best_weights.05-0.56.hdf5
lstm_02d_2l_256n-Bi_best_weights.06-0.57.hdf5
lstm_02d_2l_256n-Bi_best_weights.07-0.57.hdf5
lstm_02d_2l_256n-Bi_best_weights.08-0.58.hdf5
lstm_02d_2l_256n-Bi_best_weights.10-0.58.hdf5
lstm_02d_2l_256n-Bi_best_weights.11-0.58.hdf5
lstm_02d_2l_256n-Bi_genText.txt
lstm_02d_2l_256n-Bi_periodic_weights.01-0.49.hdf5
lstm_02d_2l_256n-Bi_periodic_weights.02-0.53.hdf5
lstm_02d_2l_256n-Bi_periodic_weights.03-0.54.hdf5
lstm_02d_2l_256n-Bi_periodic_weights.04-0.56.hdf5
lstm_02d_2l_256n-Bi_periodic_weights.05-0.56.hdf5
lstm_02d_2l_256n-Bi_periodic_weights.06-0.57.hdf5
lstm_02d_2l_256n-Bi_periodic_weights.07-0.57.hdf5
lstm_02d_2l_256n-Bi_periodic_weights.08-0.58.hdf5
lstm_02d_2l_256n-Bi_periodic_weights.09-0.58.hdf5
lstm_02d_2l_256n-Bi_periodic_weights.10-0.58.hdf5
lstm_02d_2l_256n-Bi_periodic_weights.11-0.58.hdf5
lstm_02d_2l_256n-Bi_traininglog.csv
lstm_02d_2l_512n-Bi_best_weights.01-0.50.hdf5
lstm_02d_2l_512n-Bi_best_weights.02-0.54.hdf5
lstm_02d_2l_512n-Bi_best_weights.03-0.56.hdf5
lstm_02d_2l_512n-Bi_best_weights.04-0.57.hdf5
lstm_02d_2l_512n-Bi_best_weights.05-0.57.hdf5
lstm_02d_2l_512n-Bi_best_weights.06-0.58.hdf5
lstm_02d_2l_512n-Bi_best_weights.07-0.58.hdf5
lstm_02d_2l_512n-Bi_best_weights.08-0.58.hdf5
lstm_02d_2l_512n-Bi_genText.txt
lstm_02d_2l_512n-Bi.log
lstm_02d_2l_512n-Bi_periodic_weights.01-0.50.hdf5
lstm_02d_2l_512n-Bi_periodic_weights.02-0.54.hdf5
lstm_02d_2l_512n-Bi_periodic_weights.03-0.56.hdf5
lstm_02d_2l_512n-Bi_periodic_weights.04-0.57.hdf5
lstm_02d_2l_512n-Bi_periodic_weights.05-0.57.hdf5
lstm_02d_2l_512n-Bi_periodic_weights.06-0.58.hdf5
lstm_02d_2l_512n-Bi_periodic_weights.07-0.58.hdf5
lstm_02d_2l_512n-Bi_periodic_weights.08-0.58.hdf5
lstm_02d_2l_512n-Bi_periodic_weights.09-0.59.hdf5
lstm_02d_2l_512n-Bi_traininglog.csv
lstm_02d_3l_128n-Bi_best_weights.01-0.45.hdf5
lstm_02d_3l_128n-Bi_best_weights.02-0.49.hdf5
lstm_02d_3l_128n-Bi_best_weights.03-0.52.hdf5
lstm_02d_3l_128n-Bi_best_weights.04-0.53.hdf5
lstm_02d_3l_128n-Bi_best_weights.05-0.54.hdf5
lstm_02d_3l_128n-Bi_best_weights.06-0.55.hdf5
lstm_02d_3l_128n-Bi_best_weights.07-0.55.hdf5
lstm_02d_3l_128n-Bi_best_weights.08-0.56.hdf5
lstm_02d_3l_128n-Bi_best_weights.09-0.56.hdf5
lstm_02d_3l_128n-Bi_genText.txt
lstm_02d_3l_128n-Bi.out
lstm_02d_3l_128n-Bi_periodic_weights.01-0.45.hdf5
lstm_02d_3l_128n-Bi_periodic_weights.02-0.49.hdf5
lstm_02d_3l_128n-Bi_periodic_weights.03-0.52.hdf5
lstm_02d_3l_128n-Bi_periodic_weights.04-0.53.hdf5
lstm_02d_3l_128n-Bi_periodic_weights.05-0.54.hdf5
lstm_02d_3l_128n-Bi_periodic_weights.06-0.55.hdf5
lstm_02d_3l_128n-Bi_periodic_weights.07-0.55.hdf5
lstm_02d_3l_128n-Bi_periodic_weights.08-0.56.hdf5
lstm_02d_3l_128n-Bi_periodic_weights.09-0.56.hdf5
lstm_02d_3l_128n-Bi_traininglog.csv
lstm_02d_3l_512n-Bi_best_weights.01-0.50.hdf5
lstm_02d_3l_512n-Bi_genText.txt
lstm_02d_3l_512n-Bi.log
lstm_02d_3l_512n-Bi_periodic_weights.01-0.50.hdf5
lstm_02d_3l_512n-Bi_traininglog.csv
lstm_03d_3l_256n-Bi_best_weights.01-0.48.hdf5
lstm_03d_3l_256n-Bi_best_weights.02-0.52.hdf5
lstm_03d_3l_256n-Bi_best_weights.03-0.54.hdf5
lstm_03d_3l_256n-Bi_best_weights.04-0.55.hdf5
lstm_03d_3l_256n-Bi_best_weights.05-0.56.hdf5
lstm_03d_3l_256n-Bi_best_weights.06-0.56.hdf5
lstm_03d_3l_256n-Bi_best_weights.07-0.57.hdf5
lstm_03d_3l_256n-Bi_best_weights.08-0.57.hdf5
lstm_03d_3l_256n-Bi_genText.txt
lstm_03d_3l_256n-Bi.log
lstm_03d_3l_256n-Bi_periodic_weights.01-0.48.hdf5
lstm_03d_3l_256n-Bi_periodic_weights.02-0.52.hdf5
lstm_03d_3l_256n-Bi_periodic_weights.03-0.54.hdf5
lstm_03d_3l_256n-Bi_periodic_weights.04-0.55.hdf5
lstm_03d_3l_256n-Bi_periodic_weights.05-0.56.hdf5
lstm_03d_3l_256n-Bi_periodic_weights.06-0.56.hdf5
lstm_03d_3l_256n-Bi_periodic_weights.07-0.57.hdf5
lstm_03d_3l_256n-Bi_periodic_weights.08-0.57.hdf5
lstm_03d_3l_256n-Bi_traininglog.csv
screenshots
